<div id="sidebar">
	<ul>
		<li>
			<h2><a href="/archives/categories.html" class="category">Categories</a></h2>
			<ul>
				<li><a href="/archives/news.html">Life events({{ site.categories.news | size }})</a></li>
				<li><a href="/archives/opw.html">Mozilla/OPW ({{ site.categories.opw | size }})</a></li>
			</ul>
		</li>
		<li>
			<h2>Connections</h2>
			<ul>
				<li><a href="mailto:liannelee719@hotmail.com">liannelee719@hotmail.com</a></li>
				<li><a href="http://www.facebook.com/lianne719"><img src="/img/facebook-icon.png" height="32" width="32" alt="http://icons.iconarchive.com/icons/fasticon/web-2/32/FaceBook-icon.png" title="Facebook"/></a>
				<a href="http://www.linkedin.com/pub/lianne-lee/2b/219/b01"><img src="/img/linkedin-icon.png" height="32" width="32" alt="http://icons.iconarchive.com/icons/iconshots/social-media-network/32/linkedin-icon.png" title="LinkedIn"/>
				<a href="{{ site.root_url }}/feeds/"><img src="/img/feed-icon.png" height="32" width="32" alt="http://icons.iconarchive.com/icons/fasticon/web-2/32/Feed-icon.png" title="RSS Feed"/></a></li>
			</ul>
		</li>
	</ul>
</div>
